<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("banner.jpg")%>);">
  <div class="container">
    <h1>Prepare for the movie time!</h1>
    <div class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#newListModal">
      Create Your WatchList!
    </div>
  </div>
</div>
<div class="container p-4">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "text-decoration-none text-white" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path("list_1.jpg") %>)"
          >
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="newListModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'lists/form', list:@list %>
      </div>
    </div>
  </div>
</div>
<% if @show_modal %>
  <script>
    var myModal = new bootstrap.Modal(document.getElementById('newListModal'));
    myModal.show();
  </script>
<% end %>
